<!DOCTYPE html>
<html>
<head>
  <title>MIS 21 Mock Elections</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 	<div class = "container">
		<div class="navbar navbar-default navbar-fixed-top container" role="navigation">	
			<div class="container-fluid">
					<p class= "navbar-text">
						<strong><%= link_to 'Election 2016', root_path, :class => 'navbar-link' %>&nbsp; </strong>
						|
						<strong><% if user_signed_in? %> &nbsp; <%= link_to 'Vote', voting_index_path(current_user.id), :class => 'navbar-link' %>&nbsp; |<% end %></strong>
						<strong> &nbsp; <%= link_to 'About', about_path, :class => 'navbar-link' %></strong>
					</p>
					<p class="navbar-text pull-right">
					<% if user_signed_in? %>
						Logged in as
						<%= link_to current_user do %>
					  	 <strong><%= current_user.email %></strong>
			            <% end %>
			            |
			            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
					  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			            <% if current_user.admin? %>
			            	&nbsp;
			          		<button class="btn btn-default btn-xs dropdown-toggle pull-right navbar-link" id="adminDD" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    	Admin
						    	<span class="caret"></span>
						  	</button>
						  	<ul class="dropdown-menu" aria-labelledby="adminDD">
							    <li><!--%= link_to 'Edit Candidates', candidate_index, :class => 'navbar-link' %--></li>
							    <li><!--%= link_to 'Edit Positions', position_index, :class => 'navbar-link' %--></li>
							    <li><%= link_to 'User List', users_path, :class => 'navbar-link' %></li>
							  </ul>
			          <% end %>
					<% else %>
					  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
					  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
					<% end %>
					</p>
			</div>
		</div>

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<%= yield %>
		
	</div>
</body>
</html>
<end>