<div class = "container">
	<h1>Positions</h1>
	<table class = "table table-striped">
		<thead>
			<th><b>Name</b></th>
			<th></th>
		</thead>
		<tbody>
			<% if !@positions.nil? %>
				<% @positions.each do |p| %>
					<tr>
						<td><%= p.name %></td>
						<td><%= link_to 'Edit', edit_position_path(p.id), class: 'btn btn-success btn-xs' %> <%= link_to 'Delete', position_path(p.id), method: :delete, class: 'btn btn-danger btn-xs' %></button></td>
					</tr>			
				<% end %>
			<% end %>
		</tbody>
	</table>
	<p><%= link_to 'Add new position', new_position_path, class: 'btn btn-default' %></p>
</div>

</br>

<div class = "container">
				<% Position.all.each do |p| %>
					<b><i><%= "#{Candidate.where(position_id: p.id).count} Candidates for #{p.name}" %></b></i>
					<table class = "table table-striped">
						<thead>
							<div class="row">
							  <div class="col-md-3"><th><b>Name</b></th></div>
							  <div class="col-md-7"><th><b>Slogan</b></th></div>
							  <div class="col-md-2"><th><b><center>Votes</center></b></th></div>
							</div>
						</thead>
						<tbody>
							<% Candidate.where(position_id: p.id).each do |c| %>
							<tr>
								<div class="row">
								  <div class="col-md-3"><td><%= "#{c.last_name.upcase}, #{c.first_name}" %></td></div>
								  <div class="col-md-7"><td><i><%= "#{c.slogan}" %></i></td></div>
								  <div class="col-md-2"><td><center><%= "#{Vote.where(candidate_id: c.id, position_id: p.id).count}" %></center></td></div>
								</div>
							</tr>
							<% end %>
						</tbody>
					</table>
				<% end %>
			</div>
