<div class = "container">
	<h1>Your Votes</h1>
	<table class = "table table-striped">
		<thead>
				<th><b>Position</b></th>
				<th><b>Candidate</b></th>
				<th><b>Comments</b></th>
				<th></th>
			</div>
		</thead>
		<tbody>
			<% if !@votes.nil? %>
				<tr>
					<% @votes.each do |v| %>
						<td><% "#{Position.find_by(id: v.position_id).name}" %></td>
						<% if v.candidate_id > 0 %>
							<td><% "#{Candidate.find_by(id: candidate_id).last_name.upcase}, #{Candidate.find_by(id: candidate_id).first_name}" %></td>
							<td><%= "#{v.comments}" %></td>
							<td><%= link_to "Edit", edit_vote_path(v.id), class: 'btn btn-xs btn-success' %> <%= link_to "Abstain", vote_path(v.id), method: :delete, class: 'btn btn-xs btn-danger' %></td>
						<% else %>
							<td><i>Abstained</i></td>
							<td><%= "#{v.comments}" %></td>
							<td><%= link_to "Edit", edit_vote_path(v.id), class: 'btn btn-xs btn-success' %> <button type='button' class='btn btn-xs btn-danger' disabled='disabled'>Abstain</button></td>
						<% end %>
					<% end %>
				</tr>			
			<% end %>
		</tbody>
	</table>
	<%= link_to "Add new vote", new_vote_path, class: 'btn btn-primary' %>
</div>