<h1>Edit Candidate</h1>
<%= simple_form_for @candidate do |c| %>
	<%= p.input :first_name, error: 'Field is required.', required: true %>
	<%= p.input :last_name, error: 'Field is required.', required: true %>
	<%= p.input :slogan, error: 'Slogan must be unique.', required: true, uniqueness: true %>
	<%= p.button :submit %>
<% end %>
