<h1>Add New Candidate</h1>
<%= simple_form_for @candidate do |c| %>
	<%= p.input :first_name, required: true %>
	<%= p.input :last_name, required: true %>
	<%= p.input :slogan, required: true, uniqueness: true %>
	<%= p.button :submit %>
<% end %>
